.bg-gradient{
    background-image: linear-gradient(to right, #ea8f3dbd,#0919ab)!important;
}

.align-items{
    align-items: flex-end!important;
}

.items-menuBar{
    color: white!important;
    font-size: 1.2rem;
}

.body-content{
    display: flex;
    padding: 1rem 3rem 1rem 3rem;
}

.card-notice{
    padding: 1rem;
    margin: 5px;
}